<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>
<body>
    <Header>
        <img width="400" src="/images/logo-mercado-liebre.svg" alt="Logo de mercado libre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </Header>
    <main>
        <img width="400" src="/images/img-home-banner.jpg" alt="Banner del home">

        <section>
            <h2>Basado en tu última visita</h2>
            <img width="400'" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <p>$6.770 <br> 40% of</p>
            <h4>Cafetera Moulinex</h4>
     
            <img width="400" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la mackbook">
            <p>$230.000 <br> 20% of</p>
            <h4>MacBook Pro 2019</h4>

            <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy">
            <p>$70.500 <br> 10% of</p>
            <h4>Samsung Galaxy S10</h4>

            <img width="400" src="/images/img-tv-samsung-smart.jpg" alt="Imagen del smart">
            <p>$23.200 <br> 5% of</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
        <br>
        <section>
            <h2>Ofertas</h2>
            <img width="400'" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <p>$6.770 <br> 40% of</p>
            <h4>Cafetera Moulinex</h4>
     
            <img width="400" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la mackbook">
            <p>$230.000 <br> 20% of</p>
            <h4>MacBook Pro 2019</h4>

            <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy">
            <p>$70.500 <br> 10% of</p>
            <h4>Samsung Galaxy S10</h4>

            <img width="400" src="/images/img-tv-samsung-smart.jpg" alt="Imagen del smart">
            <p>$23.200 <br> 5% of</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>            
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>